<h1><%= @machine.location %> Vending Machine</h1>

<p>Snacks:</p>
<ul>
<% @machine.snacks.each do |snack| %>
  <li><%= snack.name %>: <%= number_to_currency(snack.price) %></li>
<% end %>
</ul>
<p>Average price: <%= number_to_currency(@machine.average_snack_price) %></p>
